.container {
    display: flex;
    gap: 15px;
    padding: 20px 10px;
    border-bottom: 1px solid rgb(220, 220, 220);
}


.image{
    padding : 60px 50px;
    background-color: rgb(230, 230, 230);
}

.explanation{
    padding: 10px 150px;
    height: 30px;
    margin-left: 20px;
    background-color: rgb(230, 230, 230);
}

.author{
    padding: 5px 150px;
    background-color: rgb(230, 230, 230);
    height: 10px;
    margin-left: 20px;
}

.box{
    display:flex;
    flex-direction: column;
    gap:2rem;
}