.modal{
    max-width: 500px;
    width: 80%;
    border: none;
    height: auto;
    margin-top: 2rem;
   background-color: none;
   border-radius: 10px;
}


.modal::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}